{% extends "pages/page.html" %}

{% load mezzanine_tags %}

{% block main %}
{{ block.super }}
{% if request.GET.sent %}
    {% editable page.form.response %}
    {{ page.form.response|richtext_filters|safe }}
    {% endeditable %}
{% else %}
    {% with page.form as page_form %}
    {% editable page_form.content %}
    {{ page_form.content|richtext_filters|safe }}
    {% endeditable %}
    {% endwith %}

    {% errors_for form %}

    <form class="mezzanine-form" method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
        {% csrf_token %}
        <div style="padding: 0px 30%;">
            {% for field in form %}
                <div class="form-group input_{{ field.id_for_label }} {{ field.field.type }} {% if field.errors %} has-error{% endif %}">
                    {{ field.label_tag }} {{ field }}
                </div>
                {% if field.help_text %}
                <p class="help-block">{{ field.help_text|safe }}</p>
                {% endif %}
            {% endfor %}
        </div>
        <div class="form-actions">
            <input class="btn btn-primary btn-lg" type="submit" value="{{ page.form.button_text }}">
        </div>
    </form>
{% endif %}

{% endblock %}


{% block extra_js %}
{{ block.super }}
<script>
$(function() {$('.mezzanine-form :input:visible:enabled:first').focus();});
</script>
{% endblock %}
