@import url("hoverex-all.css") screen;
#portfoliowrap {
    padding-top: 60px;
    margin-bottom: 60px;
    display: block;
    text-align: center
}

#portfoliowrap h3 {
    margin-bottom: 25px;
}

.portfolio {
    padding:0 !important;
    margin:0 !important;
    display:block;
}

.portfolio-item .title:before {border-radius:0; display:none}
.portfolio-item p {margin:0px 0 30px;}
.portfolio-item h3 {margin:-10px 0 10px; font-size:16px; text-transform:uppercase;}


.tpl6 h3 {
    color:#fff;
    margin:0;
    padding:40px 5px 0;
    font-size:16px;
    text-transform:uppercase;
}

.tpl6 .dmbutton {
    display:inline-block;
    margin:30px 5px 20px 5px;
    font-size:13px;
}

.tpl6 .bg {
    height:100%;
    width:100%;
    background-color:#00b3fe;
    background-color:rgba(0,179,254,.9);
    text-align:center;
}
.dmbutton:hover,
.dmbutton:active,
.dmbutton:focus{
    color: #ffffff;
    background-color: #222222;
    border-color: #ffffff;
}
.dmbutton {
    background:rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
    color: #ffffff;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding-top: 1.025rem;
    padding-right: 2.25rem;
    letter-spacing:0.85px;
    padding-bottom: 1.0875rem;
    padding-left: 2.25rem;
    font-size: 1.55rem;
    cursor: pointer;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
    -webkit-appearance: none;
    font-weight: normal !important;
}

#service {
    margin-bottom: 80px;
    padding: 0px;
}

#service i {
    color: #00b3fe;
    font-size: 60px;
	padding: 15px;
}

#service h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.centered {
    text-align: center;
}

.btn-theme {
    color: #fff;
    background-color: #384452;
    border-color: #384452;
    margin: 4px;
}

.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
    color: #fff;
    background-color: #00b3fe;
    border-color: #00b3fe;
}

#testimonial{
    background-color: #eee;
}
.testi-details {
    background: #fff;
    padding: 14px 24px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.18);
    position: relative;
}
.testi-info a {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}
.testi-info a img{
	border-radius: 50%;
}
.testi-info h3 {
    display: inline-block;
    line-height: 22px;
    font-weight: 600;
    color: #000;
    margin-top: 8px;
}
.testi-info h3 > span {
    display: block;
    line-height: 16px;
    font-weight: 400;
}
.testi-details::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-left: 0;
    bottom: -40px;
    left: 56px;
    border-top-color: #fff;
    border-width: 20px;
}
.testi-details::before {
    content: '';
    position: absolute;
    transform: rotate(45deg);
    width: 0px;
    height: 0px;
    bottom: -30px;
    left: 45px;
    border-style: solid;
    border-width: 15px;
    border-color: transparent;
    z-index: -1;
    box-shadow: 3px -13px 5px 0px rgba(0, 0, 0, 0.18);
    border-left: 0;
}

header #logo {
    height: 135px;
    margin-top: 2px;
    background-size: 135px auto;
}



header {
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    text-align:center;
    line-height:160px;

}
header.shrink {
    height: 80px;
    line-height:80px;
}

header.shrink #logo
{
    height: 80px;
    margin-top: 2px;
    background-size: 80px auto;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


@media (max-width: 980px){
    body {
        margin:0px;
        padding:0px;
    }

    .navbar-fixed-top {
        margin-right: 0px;
        margin-left: 0px;
    }

    header #logo {
        height: 80px;
        margin-top: 2px;
        background-size: 80px auto;
    }



    header {
        width: 100%;
        overflow: hidden;
        -webkit-transition: height 0.3s;
        -moz-transition: height 0.3s;
        transition: height 0.3s;
        text-align:center;
        line-height:160px;
    }
    header.shrink {
        height: 80px;
        line-height:80px;
    }

    header.shrink #logo
    {
        height: 80px;
        margin-top: 2px;
        background-size: 80px auto;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
}
