{% load i18n pages_tags blog_tags keyword_tags mezzanine_tags %}
<h4>Address</h4>
<address>
    <strong>Twitter, Inc.</strong><br>
    795 Folsom Ave, Suite 600<br>
    San Francisco, CA 94107<br>
    <abbr title="Phone">P:</abbr> (123) 456-7890
</address>

