<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//ES" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Optima Dental</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link href="{%  static 'building/tools/style.css' %}" rel="stylesheet" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static 'building/font-awesome/css/font-awesome.min.css' %}">
<script type="text/javascript" src="{%  static 'building/tools/jquery.min.js' %}"></script>
<link href='http://fonts.googleapis.com/css?family=Raleway:100,700,200|Open+Sans:400italic,400' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no">


</head>
<body>
	{% if message %}
	<div class="alert alert-danger alert-dismissible fade show" role="alert" ">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	  </button>
	  <strong>{{message}}</strong>
	</div>
	{% endif %}
	<div class="wrapper">
		<div class="content-wrap">
			<div class="header">
				<h1 id="logo">Optima<span>Dental</span></h1>
			</div>

			<div class="content">
				<p>Proximamente On Line! Mientras esto sucede te esperamos en:</p>
			</div>


			<div class="social">
				<ul>
					<li><a href="https://www.facebook.com/optimadentalchile/" class="socicon"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
					<li><a href="https://www.instagram.com/optimadentalchile/" class="socicon"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				</ul>
			</div>

			<address>
				<br> Victoria 442, <br> San Bernardo, Región Metropolitana, Chile</p>
			</address>
			<a href="tel:+56224349276">+56 2 2434 9276</a> <br><br>
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
			  Área de Cliente
			</button>
		</div>
	</div>

	<!-- Footer Section -->
	<footer id="footer-section">
		<p class="copyright">
			&copy; <a href="http://torkcore.com/">TorkCore</a> 2017, All Rights Reserved. Design & Host & Support by <a href="http://torkcore.com">TorkCore</a>
		</p>
	</footer>
	<!-- Footer Section End -->
	<form method="post" role="form" class="center">
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Login</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
				{% csrf_token %}
				<input type="hidden" name="referrer" value="http://optimadentalchile.cl/">
				<div class="form-group input_id_username">
					<b>Usuario:</b> <input autofocus="" id="id_username" name="username" type="text" required="">
				</div>
				<div class="form-group input_id_password">
					<b>Contraseña:</b> <input id="id_password" name="password" type="password" required="">
				</div>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
			<button type="submit" class="btn btn-primary">Entrar</button>
		  </div>
		</div>
	  </div>
	</div>
		</form>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>
