<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles %}

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	  	ga('create', 'UA-110796628-1', 'auto');
	  	ga('send', 'pageview');
	</script>

    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
    <link rel="shortcut icon" href="{% static 'images/ico/favicon.ico' %}">

    {% ifinstalled mezzanine.blog %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url 'blog_post_feed' 'rss' %}">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url 'blog_post_feed' 'atom' %}">
    {% endifinstalled %}

    {% compress css %}

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mezzanine.css' %}">

    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome-icon.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    {% if LANGUAGE_BIDI %}
    <link rel="stylesheet" href="{% static 'css/rtl.css' %}">
    {% endif %}
    {% ifinstalled cartridge.shop %}
    <link rel="stylesheet" href="{% static 'css/cartridge.css' %}">
    {% if LANGUAGE_BIDI %}
    <link rel="stylesheet" href="{% static 'css/cartridge.rtl.css' %}">
    {% endif %}
    {% endifinstalled %}
    {% block extra_css %}{% endblock %}
    {% endcompress %}
    <!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
<!--    <link rel="shortcut icon" href="{% static 'images/ico/favicon.ico' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
-->
    {% compress js %}
    <script src="{% static 'mezzanine/js/'|add:settings.JQUERY_FILENAME %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-extras.js' %}"></script>
    {% block extra_js %}{% endblock %}
    {% include "includes/footer_scripts.html" %}
    {% endcompress %}

    <!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->

    {% block extra_head %}{% endblock %}
</head>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.10';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<body id="{% block body_id %}body{% endblock %}">

<header class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <a class="collapsed navbar-toggle" data-toggle="collapse" data-target=".nav-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
        </a>
        <a id="logo" class="pull-left" href="/" alt="{% if settings.SITE_TITLE %}{{ settings.SITE_TITLE }}{% endif %}"></a>
        <div class="nav-collapse collapse pull-right">

            {% page_menu "pages/menus/dropdown.html" %}

        </div>
    </div>
</header>

<div class="container">

{% nevercache %}
{% if messages %}
<div class="messages">
{% for message in messages %}
<div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ message }}
</div>
{% endfor %}
</div>
{% endif %}
{% endnevercache %}

</div>
{% block top %}
<section class="emerald" id="title">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>{% block title %}{% endblock %}</h1>
                    
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        {% spaceless %}
							{% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
						{% endspaceless %}
                    </ul>
                </div>
            </div>
        </div>
   </section>
{% endblock %}

    {% block left_panel %}
    
    {% endblock %}

    {% block main %}{% endblock %}

    <section id="footerwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 address">
                    <h4>Dirección</h4>
                    <div class="hline-w"></div>
                    <ul class="unstyled address">
                        <li>
                            <i class="icon-home"></i><strong>Dirección:</strong> Victoria 442, San Bernardo, RM Santiago, Chile
                        </li>
                        <li>
                            <i class="icon-envelope"></i>
                            <strong>Email: </strong> <a href="mailto::optimadentalchile@gmail.com">optimadentalchile@gmail.com</a>
                        </li>
                        <li>
                            <i class="icon-globe"></i>
                            <strong>Website:</strong> <a href="http://www.optimadentalchile.cl">www.optimadentalchile.cl</a>
                        </li>
                        <li>
                            <i class="icon-phone"></i>
                            <strong>Telefonos:</strong> <a href="tel:+56224349276">(+56) 2 2434 9276</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 text-center">
                    <h4>Redes Sociales</h4>
                    <div class="hline-w"></div>
                    <p>
                        <a href="https://www.facebook.com/optimadentalchile/"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/optimadentalchile/"><i class="fa fa-instagram"></i></a>
                        <a href="https://www.google.com/maps/place/OPTIMA+DENTAL/@-33.5926191,-70.7725924,12z/data=!4m18!1m12!4m11!1m3!2m2!1d-70.701353!2d-33.5870422!1m6!1m2!1s0x9662d95ae5cbb6e5:0x476c0f73e6d1277b!2soptima+dental+chile!2m2!1d-70.7025523!2d-33.5926388!3m4!1s0x9662d95ae5cbb6e5:0x476c0f73e6d1277b!8m2!3d-33.5926388!4d-70.7025523"><i class="fa fa-map-marker"></i></a>
                    </p>
                </div>
                <div class="col-lg-3">
                    <h4>Accesos Directos</h4>
                    <div class="hline-w"></div>
                    <ul class="unstyled address">
                        <li>
                             <a href="/nosotros">Nosotros</a>
                        </li>
                        <li>
                             <a href="/#portfoliowrap">Nuestras Especialidades</a>
                        </li>
                        <li>
                             <a href="/noticias">Noticias</a>
                        </li>
                        <li>
                             <a href="/contactanos">Contactanos</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <p class="site-info text-center">
                    {% trans "Design & Host & Support by" %}
                    <a href="http://www.torkcore.com">TorkCore</a>
                </p>
            </div>
        </div>
    </section>

    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'js/jquery.isotope.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_footer_js %}{% endblock %}
</body>
</html>
