{% extends "base.html" %}
{% load i18n staticfiles %}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block extra_css %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">

{% endblock %}

{% block top %}

{% endblock %}

{% block main %}
<section class="no-margin" id="main-slider">
    <div class="carousel slide wet-asphalt">
        <ol class="carousel-indicators">
            <li class="" data-slide-to="0" data-target="#main-slider"></li>
            <li data-slide-to="1" data-target="#main-slider" class=""></li>
            <li data-slide-to="2" data-target="#main-slider" class="active"></li>
        </ol>
        <div class="carousel-inner">
            <div style="background-image: url(/static/images/slider/bg1.jpg)" class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content centered" style="margin-top: 265px;">
                                <h2 class="animation animated-item-1">Ortodoncia y Rehabilitación Oral</h2>
                                <p class="animation animated-item-2">Estudio, Prevención, Diagnóstico y Tratamiento de cualquier anomalía dental.</p>
                                <br>
                                <a href="/ortodoncia-y-rehabilitación-oral" class="btn btn-md animation animated-item-3">Leer Más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.item-->
        <div style="background-image: url(/static/images/slider/bg2.jpg)" class="item">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="carousel-content center centered" style="margin-top: 208.5px;">
                            <h2 class="boxed animation animated-item-1">Implantología</h2>
                            <p class="boxed animation animated-item-2">Nuevas Técnicas en sustitución de dientes perdidos mediante modernos implantes.</p>
                            <br>
                            <a href="/implantologia" class="btn btn-md animation animated-item-3">Leer Más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.item-->
        <div style="background-image: url(/static/images/slider/bg3.jpg)" class="item active">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="carousel-content centered" style="margin-top: 219px;">
                            <h2 class="animation animated-item-1">Don't worry, be happy! Óptima Dental esta aquí!</h2>
                            <p class="animation animated-item-2">Clínica Odontológica y Estética Facial - En San Bernardo!No somos franquicia, Calidad y Calidez en un solo lugar</p>
                            <a href="/clinica-odontologica-y-estetica-facial-optima-dental" class="btn btn-md animation animated-item-3">Leer Más</a>
                        </div>
                    </div>
                    <div class="col-sm-6 hidden-xs animation animated-item-4">
                        <div class="centered" style="margin-top: 129px;">
                            <div class="embed-container">
                                <iframe frameborder="0" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" src="//player.vimeo.com/video/110876578?autoplay=1&title=0&amp;byline=0&amp;portrait=0&amp;color=a22c2f"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.item-->
    </div><!--/.carousel-inner-->

    <a data-slide="prev" href="#main-slider" class="prev hidden-xs">
        <i class="icon-angle-left"></i>
    </a>
    <a data-slide="next" href="#main-slider" class="next hidden-xs">
        <i class="icon-angle-right"></i>
    </a>
</section>

<section id="portfoliowrap">
    <h3>Nuestras Especialidades</h3>
    <div class="portfolio-centered">
        <div class="recentitems portfolio">
            <div class="portfolio-item graphic-design">
                <div class="he-wrap tpl6">
                    <img src="{% static 'images/portfolio/OrtodonciaOrtopediaMaxilar.jpg' %}" alt="">
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Ortodoncia y Ortopedia Maxilar</h3>
                            <a data-rel="prettyPhoto" href="{% static 'images/portfolio/OrtodonciaOrtopediaMaxilar.jpg' %}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                            <a href="/ortodoncia-y-ortopedia-maxilar" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                        </div><!-- he bg -->
                    </div><!-- he view -->
                </div><!-- he wrap -->
            </div><!-- end col-12 -->

            <div class="portfolio-item books">
                <div class="he-wrap tpl6">
                    <img src="{% static 'images/portfolio/OdontologiaGeneral.jpg' %}" alt="">
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Odontología General</h3>
                            <a data-rel="prettyPhoto" href="{% static 'images/portfolio/OdontologiaGeneral.jpg' %}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                            <a href="/odontologia-general" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                        </div><!-- he bg -->
                    </div><!-- he view -->
                </div><!-- he wrap -->
            </div><!-- end col-12 -->

            <div class="portfolio-item graphic-design">
                <div class="he-wrap tpl6">
                    <img src="{% static 'images/portfolio/EsteticaFacial.jpg' %}" alt="">
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Medicina Especializada en Estética Facial</h3>
                            <a data-rel="prettyPhoto" href="{% static 'images/portfolio/EsteticaFacial.jpg' %}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                            <a href="/medicina-especializada-en-estetica-facial-y-corporal" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                        </div><!-- he bg -->
                    </div><!-- he view -->
                </div><!-- he wrap -->
            </div><!-- end col-12 -->

            <div class="portfolio-item graphic-design">
                <div class="he-wrap tpl6">
                    <img src="{% static 'images/portfolio/RehabilitacionOral.jpg' %}" alt="">
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Rehabilitación Oral</h3>
                            <a data-rel="prettyPhoto" href="{% static 'images/portfolio/RehabilitacionOral.jpg' %}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                            <a href="/rehabilitacion-oral" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                        </div><!-- he bg -->
                    </div><!-- he view -->
                </div><!-- he wrap -->
            </div><!-- end col-12 -->

            <div class="portfolio-item books">
                <div class="he-wrap tpl6">
                    <img src="{% static 'images/portfolio/Endodoncia.jpg' %}" alt="">
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Endodoncia</h3>
                            <a data-rel="prettyPhoto" href="{% static 'images/portfolio/Endodoncia.jpg' %}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                            <a href="/endodoncia" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                        </div><!-- he bg -->
                    </div><!-- he view -->
                </div><!-- he wrap -->
            </div><!-- end col-12 -->

            <div class="portfolio-item graphic-design">
                <div class="he-wrap tpl6">
                    <img src="{% static 'images/portfolio/Periodoncia.jpg' %}" alt="">
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Periodoncia</h3>
                            <a data-rel="prettyPhoto" href="{% static 'images/portfolio/Periodoncia.jpg' %}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                            <a href="/periodoncia" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                        </div><!-- he bg -->
                    </div><!-- he view -->
                </div><!-- he wrap -->
            </div><!-- end col-12 -->

            <div class="portfolio-item web-design">
                <div class="he-wrap tpl6">
                    <img src="{% static 'images/portfolio/CirugiaOral.jpg' %}" alt="">
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Cirugia Oral</h3>
                            <a data-rel="prettyPhoto" href="{% static 'images/portfolio/CirugiaOral.jpg' %}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                            <a href="/cirugia-oral" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                        </div><!-- he bg -->
                    </div><!-- he view -->
                </div><!-- he wrap -->
            </div><!-- end col-12 -->

            <div class="portfolio-item web-design">
                <div class="he-wrap tpl6">
                    <img src="{% static 'images/portfolio/Implantologia.jpg' %}" alt="">
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Implantología</h3>
                            <a data-rel="prettyPhoto" href="{% static 'images/portfolio/Implantologia.jpg' %}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                            <a href="/implantologia" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                        </div><!-- he bg -->
                    </div><!-- he view -->
                </div><!-- he wrap -->
            </div><!-- end col-12 -->

            <div class="portfolio-item graphic-design">
                <div class="he-wrap tpl6">
                    <img src="{% static 'images/portfolio/RayosX.jpg' %}" alt="">
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Rayos X</h3>
                            <a data-rel="prettyPhoto" href="{% static 'images/portfolio/RayosX.jpg' %}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                            <a href="/rayos-x" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                        </div><!-- he bg -->
                    </div><!-- he view -->
                </div><!-- he wrap -->
            </div><!-- end col-12 -->

            <div class="portfolio-item books">
                <div class="he-wrap tpl6">
                    <img src="{% static 'images/portfolio/ImplementosCuidadoOral.jpg' %}" alt="">
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Higiene e Implementos de Cuidado Dental</h3>
                            <a data-rel="prettyPhoto" href="{% static 'images/portfolio/ImplementosCuidadoOral.jpg' %}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                            <a href="/higiene-e-implementos-de-cuidado-dental" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                        </div><!-- he bg -->
                    </div><!-- he view -->
                </div><!-- he wrap -->
            </div><!-- end col-12 -->
        </div><!-- portfolio -->
    </div><!-- portfolio container -->
</section><!--/Portfoliowrap -->

<section id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-heart"></i>
                <h4>Atención Personalizada</h4>
                <p>Preguntanos, Felicitanos, Cuentanos en que podemos mejorar. Tu Bienestar y Satisfacción son el eje de nuestro Servicio</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-user-md"></i>
                <h4>Profesionales Especializados</h4>
                <p>Equipo de trabajo altamente capacitado, direccionado siempre a la CALIDAD, en constante crecimiento personal y académico, y además especializado en las mejores universidades de Chile y Latinoamérica</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-trophy"></i>
                <h4>100% Calidad</h4>
                <p>Nos esmeramos en la atención, nos preparamos continuamente en nuestras especialidades, pero además trabajamos solo con materiales de la mas alta calidad.</p>
            </div>
        </div>
    </div><! --/container -->
</section><! --/service -->

<section id="clients" class="main">
    <div class="container">
        <div class="row-fluid">
            <div class="span2">
                <div class="clearfix">
                    <h4 class="pull-left">Facilidades de Pago:</h4>
                    <div class="pull-right">
                    </div>
                </div>
                <ul class="unstyled">
                        <li>
                            RedCompra
                        </li>
                        <li>
                            Efectivo
                        </li>
                        <li>
                            Tarjetas de debito
                        </li>
                        <li>
                            Tarjetas de crédito
                        </li>
                        <li>
                            Transferencias bancarias
                        </li>
                    </ul>
            </div>
            <div class="span10">
                <div id="myCarousel" class="carousel slide clients">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="active item">
                            <div class="row-fluid">
                                <ul class="thumbnails">
                                    <li class="span3"><a href="/formasdepago"><img src="{% static "images/sample/clients/RedCompraDebito.png" %}"></a></li>
                                    <li class="span3"><a href="/formasdepago"><img src="{% static "images/sample/clients/Efectivo.png" %}"></a></li>
                                    <li class="span3"><a href="/formasdepago"><img src="{% static "images/sample/clients/TarjetaCredito.png" %}"></a></li>
                                    <li class="span3"><a href="/formasdepago"><img src="{% static "images/sample/clients/TransferenciaBancaria.png" %}"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /Carousel items -->
                </div>
            </div>
        </div>
    </div>
</section>

<!--testimonial-->
<section id="testimonial" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="ser-title">¿Que opinan nuestros Pacientes?</h2>
                <hr class="botm-line">
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="testi-details">
                        <!-- Paragraph -->
                        <p>Totalmente recomendable , doctores responsables que velan por el paciente , mi tratamiento de ortodoncia lo realice aquí y quede con mi sonrisa hermosa tal cual quería :).</p>
                    </div>
                    <div class="testi-info">
                        <!-- User Image -->
                        <a href="#"><img src="{% static 'images/Yasmari.png' %}" alt="" class="img-responsive"></a>
                        <!-- User Name -->
                        <h3>Yasmari<span>Facebook</span></h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="testi-details">
                        <!-- Paragraph -->
                        <p>Muy buena clínica, se preocupan de lo que uno realmente necesita y te ofrecen calidad a muy buenos precios. Gracias a los profesionales que se enfocan en entregar un excelente servicio como pocos en el sector.</p>
                    </div>
                    <div class="testi-info">
                        <!-- User Image -->
                        <a href="#"><img src="{% static 'images/Cata.png' %}" alt="" class="img-responsive"></a>
                        <!-- User Name -->
                        <h3>Cata<span>Facebook</span></h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="testi-details">
                        <!-- Paragraph -->
                        <p>Excelentes profesionales; resultados de primer nivel. Tecnología de punta y Atención inigualable.</p>
                    </div>
                    <div class="testi-info">
                        <!-- User Image -->
                        <a href="#"><img src="{% static 'images/Andres.png' %}" alt="" class="img-responsive"></a>
                        <!-- User Name -->
                        <h3>Andres<span>Facebook</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ testimonial-->
{% endblock %}


{% block extra_footer_js %}
    <script src="{% static 'js/jquery.hoverex.min.js' %}"></script>
  	<script src="{% static 'js/custom.js' %}"></script>

    <script>
        // Portfolio
        (function($) {
            "use strict";
            var $container = $('.portfolio'),
                $items = $container.find('.portfolio-item'),
                portfolioLayout = 'fitRows';

                if( $container.hasClass('portfolio-centered') ) {
                    portfolioLayout = 'masonry';
                }

                $container.isotope({
                    filter: '*',
                    animationEngine: 'best-available',
                    layoutMode: portfolioLayout,
                    animationOptions: {
                    duration: 750,
                    easing: 'linear',
                    queue: false
                },
                masonry: {
                }
                }, refreshWaypoints());

                function refreshWaypoints() {
                    setTimeout(function() {
                    }, 1000);
                }

                $('nav.portfolio-filter ul a').on('click', function() {
                        var selector = $(this).attr('data-filter');
                        $container.isotope({ filter: selector }, refreshWaypoints());
                        $('nav.portfolio-filter ul a').removeClass('active');
                        $(this).addClass('active');
                        return false;
                });

                function getColumnNumber() {
                    var winWidth = $(window).width(),
                    columnNumber = 1;

                    if (winWidth > 1200) {
                        columnNumber = 5;
                    } else if (winWidth > 950) {
                        columnNumber = 4;
                    } else if (winWidth > 600) {
                        columnNumber = 3;
                    } else if (winWidth > 400) {
                        columnNumber = 2;
                    } else if (winWidth > 250) {
                        columnNumber = 1;
                    }
                        return columnNumber;
                    }

                    function setColumns() {
                        var winWidth = $(window).width(),
                        columnNumber = getColumnNumber(),
                        itemWidth = Math.floor(winWidth / columnNumber);

                        $container.find('.portfolio-item').each(function() {
                            $(this).css( {
                            width : itemWidth + 'px'
                        });
                    });
                }

                function setPortfolio() {
                    setColumns();
                    $container.isotope('reLayout');
                }

                $container.imagesLoaded(function () {
                    setPortfolio();
                });

                $(window).on('resize', function () {
                setPortfolio();
            });
        })(jQuery);
    </script>
{% endblock %}

